<?xml version="1.0"?>

<config>
    <modules>
        <MarceloLinhares_Pj>
            <version>0.1.3</version>
        </MarceloLinhares_Pj>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <type_person><billing>1</billing><shipping>1</shipping></type_person>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
         <models>
            <pj>
                <class>MarceloLinhares_Pj_Model</class>
            </pj>
        </models>
        <fieldsets>
            <customer_account>
                <type_person>                   
                    <to_quote>*</to_quote>
                </type_person>
            </customer_account>
           <checkout_onepage_quote>
                <type_person><to_customer>*</to_customer></type_person>
             </checkout_onepage_quote>
        </fieldsets>
        <resources>
            <pj_setup>
                <setup>
                    <module>MarceloLinhares_Pj</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pj_setup>
            <pj_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pj_write>
            <pj_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pj_read>
            <pj_setup>
              <setup>
                    <module>MarceloLinhares_Pj</module>
                    <class>MarceloLinhares_Pj_Model_Mysql4_Setup</class>
                </setup>
            </pj_setup>
        </resources>
       <helpers>
            <pj>
                <class>MarceloLinhares_Pj_Helper</class>
            </pj>
        </helpers>
        <fieldsets>
            <sales_convert_quote>
                <prescription_type_lens><to_order>*</to_order></prescription_type_lens>
                <non_prescription_type_lens><to_order>*</to_order></non_prescription_type_lens>
            </sales_convert_quote>
        </fieldsets>
    </global>
</config>